@import '~Theme/variables';

.article {
  padding: $gutter;

  @media only screen and (min-width: $screen-sm) {
    flex: 1 0 25%;
    max-width: 25%;
  }
}

.edit {
  text-decoration: none;
  color: $lightgray-light-color;
}
