@import '~Theme/variables';

.header {
  display: flex;
  flex-wrap: row wrap;
  background: $white-color;
  border-bottom: 1px solid $lightgray-dark-color;
}

.brand {
  border-right: 1px solid $lightgray-dark-color;

  &-item {
    display: block;

    @media only screen and (min-width: $screen-sm) {
      margin: 0 $gutter / 2;
    }
  }
}

.menu {
  flex: 1 100%;
  display: flex;
  align-items: center;

  &-item {
    margin: 0 $gutter / 2;
    color: $mint-dark-color;
    text-decoration: none;

    @media only screen and (min-width: $screen-sm) {
      margin: 0 $gutter;
      font-size: 1.25rem;
    }
  }
}

.auth {
  @media only screen and (min-width: $screen-sm) {
    flex: 0 0 10rem;
  }
}
