// Layout
$gutter: 2rem;

// Media Queries
$screen-sm: 768px;

// Colors
$white-color: #FFF;
$mint-light-color: #48CFAD;
$mint-dark-color: #37BC9B;
$lightgray-light-color: #F5F7FA;
$lightgray-dark-color: #E6E9ED;
$darkgray-light-color: #656D78;
$darkgray-dark-color: #434A54;
